name: Unit Tests

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        php: [ "8.2" ]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction

      - name: PHPUnit
        run: php vendor/bin/phpunit
